/************************************************************/
//#region: DISEÑO ADAPTABLE
/************************************************************/
//Mixin para manejo del Responsive en 3 tamaños
$screen3_bp1: 650px;
$screen3_bp2: 1000px;
@mixin if_screen3_small { //<ruptura1
  @media (max-width: #{$screen3_bp1 - 1px}) {
    @content;
  }
}
@mixin if_screen3_medium {  //>=ruptura1, <ruptura2
  @media (min-width: #{$screen3_bp1}) and (max-width: #{$screen3_bp2 - 1px}) {
    @content;
  }
}
@mixin if_screen3_large {  //>=ruptura2
  @media (min-width: #{$screen3_bp2}) {
    @content;
  }
}
//Mixin para manejo del Responsive en 4 tamaños
$screen4_bp1: 600px;
$screen4_bp2: 900px;
$screen4_bp3: 1100px;
@mixin if_screen4_tiny { //<ruptura1
  @media (max-width: #{$screen4_bp1 - 1px}) {
    @content;
  }
}
@mixin if_screen4_small {  //>=ruptura1, <ruptura2
  @media (min-width: #{$screen4_bp1}) and (max-width: #{$screen4_bp2 - 1px}) {
    @content;
  }
}
@mixin if_screen4_medium {  //>=ruptura2, <ruptura3
  //  @media only screen and (min-width: 600px) {
  @media (min-width: #{$screen4_bp2}) and (max-width: #{$screen4_bp3 - 1px}) {
    @content;
  }
}
@mixin if_screen4_large {  //>=ruptura3
  @media (min-width: #{$screen4_bp3}) {
    @content;
  }
}
/* Mixins para usarse dentro del mixin "limite_hor". */
$resolut_bp1: 900px;
$resolut_bp2: 1250px; 
$resolut_bp2_noHbar: $resolut_bp2 - 50px; //Ancho de pantalla sin barra de desplazamiento  (Cuidado con los espacios).
@mixin if_resolut_small { //<ruptura1
  @media (max-width: #{$resolut_bp1 - 1px}) {
    @content;
  }}
@mixin if_resolut_normal {  //>=ruptura1, <ruptura2
  @media (min-width: #{$resolut_bp1}) and (max-width: #{$resolut_bp2 - 1px}) {
    @content;
  }}
@mixin if_resolut_exceed {  //>=ruptura2
  @media (min-width: #{$resolut_bp2}) {
    @content;
  }}
/* Límite para el ancho horizontal del contenido, 
trabajando sobre los márgenes. */
@mixin limite_hor { //Versión mixing
  @include if_resolut_small {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }  
  @include if_resolut_normal {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }  
  @include if_resolut_exceed {
    width : $resolut_bp2_noHbar;
    margin-left: auto;
    margin-right: auto;
  }
}
.limit_hor {  //Versión clase
  @include limite_hor;
}
//#endregion
